header .sp-logo {
  display: block;
  height: 40px;
  /*    width: 4.6rem;*/
  width: 220px;
}
@media screen and (min-width: 750px) {
  header .sp-logo {
    height: 3.4rem;
    /*        width: 6.2rem;*/
  }
}
